[user]
	name = Kevin Anantha
	email = kevanantha@evilfactory.id
	; email = jw71noyk6@relay.firefox.com
  signingkey = 7177A8BB25878050
[core]
	editor = lvim
  ; pager = delta --color-only --plus-color="#012800" --minus-color="#340001" --theme=Dracula --width=190 | bat
  ; pager = delta | bat

[pager]
  diff = delta --theme=Dracula | bat --theme=Dracula
  log = delta --theme=Dracula | bat --theme=Dracula
  reflog = delta --theme=Dracula | bat --theme=Dracula
  show =delta --theme=Dracula | bat --theme=Dracula

[delta]
  line-numbers = true
  plus-style = "syntax #012800"
  ; minus-style = "syntax #340001"
  minus-style = red bold ul "#ffeeee"
  syntax-theme = Dracula
  navigate = true

[interactive]
  diffFilter = delta --color-only

; [interactive]
;   ; diffFilter = delta --color-only
;   diffFilter = delta
[commit]
  gpgsign = true
[color]
  ui = true
[init]
  defaultBranch = main
[pull]
	rebase = true

[includeIf "gitdir:~/w/"]
  path = ~/.gitconfig-mekari
[url "git@bitbucket.org:"]
  insteadOf = https://bitbucket.org
