# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = kevan (kevin anantha)
	email = kevin.anantha@gmail.com
[signing]
  key = B0ECFB4FFE73033C
  gpgPath = gpg
[core]
  editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only
[diff]
  tool = delta
  colorMoved = default
[merge]
  conflictstyle = diff3
[delta]
  navigation = true
  light = false
  side-by-side = true
  line-numbers = true
  features = decorations
  whitespace-error-style = "22 reverse"
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[includeIf "gitdir:~/w/"]
  path = ~/.gitconfig-efishery
